In [24]:
import json
import pandas as pd

raw_data = json.load(open("dataset/test_data.json", "r"))
df = pd.DataFrame([raw_data])
df.head(5)

,address,contact_phone,credit_card_no,customer_name,email,id_card_no,date_of_birth,member_since,sex,status
0,"9084 Destiny Drives Apt. 873 Cooperton, DC 75097",0931410005,6982000070,Apisit Chaiyachard,5555@example.com,11027005343335555,1995-11-14,2021-08-03,male,single

In [23]:
import ast
str_b = b"{'name': 'Azure'}"
ast.literal_eval(str_b.decode("UTF-8"))

{'name': 'Azure'}

In [27]:
data = {"name": "Azure"}
str.encode(json.dumps(data))

b'{"name": "Azure"}'